name: "Release DevContainer Features & Generate Documentation"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: "Publish Features"
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: "./src"
          generate-docs: "true"

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create PR for Documentation
        id: push_image_info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -e
          echo "Starting documentation update process..."

          # Configure git
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git config pull.rebase false

          # Create branch for documentation updates
          branch="automated-documentation-update-$GITHUB_RUN_ID"
          git checkout -b "$branch"

          message="Automated documentation update"

          # Add / update and commit documentation
          git add */**/README.md
          git commit -m "Automated documentation update [skip ci]" || export NO_UPDATES=true

          # Push and create PR if there are updates
          if [ "$NO_UPDATES" != "true" ]; then
              git push origin "$branch"
              gh pr create --title "$message" --body "$message" --head "$branch" --base main
          else
              echo "No documentation updates needed."
          fi
